{
  "ignore": [
    "node_modules"
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "ie": "11",
        "node": "6"
      },
      "exclude": [
        "transform-async-to-generator",
        "transform-regenerator"
      ]
    }],
    "@babel/preset-flow"
  ],
  "plugins": [
    ["module:fast-async", {
      "spec": true
    }]
  ]
}
