{
  "ignore": [
    "node_modules"
  ],
  "presets": [
    ["env", {
      "targets": {
        "ie": "11",
        "node": "6"
      }
    }],
    "flow"
  ],
  "plugins": [
    "babel-plugin-transform-async-generator-functions"
  ]
}
